body,
main {
  padding-top: 70px;
  font-size: 16px;
}

main {
  height: 1000px;
  margin: 25px 0;
}

.colors-one,
.colors-one h2 {
  color: #EBEA76;
}

.colors-two,
.colors-two h2 {
  background: #00CD34;
  color: #BC00BB;
}

.colors-three,
.colors-three h2 {
  background: green;
  color: red;
}


/*Exercise: 1 Skip to button*/
.skip-link:focus {
	position:relative;
	left: 10px;
	transition: left 0s;
	color:white;
}

/*Add transition to allow link to slide off */

.skip-link {
	display: block;
	position:relative;
	left: -200px;
	transition: left 2.5s;
	background: red;
	color: white;
	width: 10em;
	height: 2em;
	text-align: center;
	border-radius: 5px;
}